* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.handleBirthdateError {
  font-size: 0.6428571428571428rem;
  margin-left: 15px;
  margin-top: 3px;
  color: #F43220;
}

.socialMediaIcon {
  height: 30px;
  width: 30px;
}